<a class="nav-link text-white position-relative" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
    <i class="fa-solid fa-bell fa-lg js-notif-bell"></i>

    <span class="js-notif-count position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger border border-light"
          style="font-size: 0.6rem; {% if notificacoes_count == 0 %}display: none;{% endif %}">
        <span class="js-notif-count-num">{{ notificacoes_count }}</span>
        <span class="visually-hidden">notificações não lidas</span>
    </span>
</a>

<ul class="dropdown-menu dropdown-menu-end shadow border-0 rounded-0 notif-dropdown js-notif-menu">
    {% include "tickets/partials/notificacoes_lista.html" %}
</ul>
